astroid==2.15.2
build==0.10.0
configparser==5.3.0
dill==0.3.6
isort==5.12.0
keyboard==0.13.5
lazy-object-proxy==1.9.0
mccabe==0.7.0
numpy==1.24.2
packaging==23.0
paho-mqtt==1.6.1
platformdirs==3.2.0
PyAudio==0.2.13
pylint==2.17.2
pynput==1.7.6
pyproject_hooks==1.0.0
pytoolconfig==1.2.5
rope==1.7.0
six==1.16.0
tomli==2.0.1
tomlkit==0.11.7
typing_extensions==4.5.0
wrapt==1.15.0
